services:
  ollama:
    image: ollama/ollama:latest
    container_name: rag_ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_storage:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    restart: always
    # Опционально: сразу загрузить модель при старте, если нужно, 
    # но лучше мы сделаем это руками в уроке для наглядности.

volumes:
  ollama_storage: